@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex',sans-serif;
}

form {
    max-width: 500px;
    margin:30px auto;
    padding: 30px;
    border-radius: 4px;
    /* background-color: rgb(198, 198, 199); */
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.199);
}

form > div:not(last-child) {
    margin-bottom: 20px;
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
}

.name {
    display: flex;
    justify-content: space-between;
}

.password > input {
    margin-right: 15px;
}

input,
button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, .15);
}

input[type="email"] {
    width: 100%;
}

.password-msg {
    margin-top: 30px;
    color: rgb(11, 241, 22);
}

button,
input[type="submit"] {
    cursor: pointer;
    background-color: blue;
    color: #fff;
}

button:focus,
input[type="submit"]:focus {
    transform: scale(.97);
}
