@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex',sans-serif;
    background-color: #efefef;
}

form {
    max-width: 450px;
    margin:30px auto;
    padding: 20px;
    border-radius: 4px;
    /* background-color: rgb(198, 198, 199); */
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.199);
}

form > div,
.name > div:first-child {
    margin-bottom: 20px;
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
}


.form-control {
    display: flex;
    flex-direction: row-reverse;
}

.form-control {
    position: relative;
}

.form-control i {
    position: absolute;
    left: 2%;
    top: 26%;
}

.form-control .fa-eye,
.form-control .fa-eye-slash {
    cursor: pointer;
    position: absolute;
    left: 83%;
    top: 26%;
}

.password > div {
    display: flex;
}

.password > div input {
    margin-right: 15px;
}

input,
button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, .15);
}

input:not(input[type="submit"]) {
    padding-left: 31px;
}

input:not(input[type='password']) {
    width: 100%;
}

input::placeholder {
    margin-left: 50px;
}

input[type="password"] {
    padding-left: 20px;
}

input[type="submit"] {
    cursor: pointer;
    margin-top: 20px;
    background-color: blue;
    color: #fff;
}

button {
    cursor: pointer;
    border: 2px solid blue;
    color: blue;
}

button:focus,
input[type="submit"]:focus {
    transform: scale(.97);
}
